<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="utf-8">
    <title ng-bind-template="ToDo list {{pageName}}">ToDo list (google tasks based)</title>
</head>
<body>
<div id="authentication_block" ng-controller="AuthenticationController" ng-cloak>
    <h3>Login</h3>
    <a id="login_link" ng-href="{{authenticationLink}}" ng-show="loggedIn == false">Login</a>
    <a id="logout_link" href="" ng-click="logout();" ng-show="loggedIn == true">Logout</a>
</div>
<div id="list_block" ng-controller="TasksController" ng-show="loggedIn == true" ng-cloak>
    <h3>Tasks</h3>
    <ul>
        <li ng-repeat="list in lists">{{list.title}} </li>
    </ul>
</div>

<script src="libs/bower_components/angular/angular.js"></script>
<script src="libs/bower_components/angular-route/angular-route.js"></script>
<script src="libs/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
<script src="libs/bower_components/ngstorage/ngStorage.js"></script>

<script src="libs/utils/utils.js"></script>

<script src="app.js"></script>

<script src="config.js"></script>

<script src="components/tasks/tasksModule.js"></script>
<script src="components/tasks/tasksController.js"></script>
<script src="components/tasks/tasksService.js"></script>

<script src="components/authentication/authenticationModule.js"></script>
<script src="components/authentication/authenticationController.js"></script>
<script src="components/authentication/authenticationService.js"></script>

</body>
</html>